@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

  /* font-family :"Work Sans"; */

  
.work-sans-font{
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
/* Navbar Section--------------------------------- */
#bgColor{
    background-color: #fdf3e6;
    padding: 10px;

}
  .navbar{
    display: flex;
    justify-content: space-between;
    margin: 20px;

  }
  .navbarTitle{
    color: #131313;
    font-family: work sans;
    font-weight:bold;
    font-size: 40px;
  }

  .navbarList{
    display: flex;
   gap: 20px;
  }

  nav, div, li, a{
    color: #424242;
    font-size: 18px;
    font-weight: 600;
    font-family: work sans;
    text-decoration: none;
    list-style: none;
    margin-top: 30px;
  }
  
  /* Banner Section--------------------------- */

  .BannerDiv{
    text-align: center;
  }
  .BannerTitle{
        color: #131313;
    font-family: work sans;
    font-weight:bold;
    font-size: 60px;
  }
.BannerSubtitle{
     color: #727272;
    font-size: 18px;
    font-weight: 600;
    font-family: work sans;
}

.btn{
  background-color:#FF900E ;
  color:#FFFFFF ;
     font-size: 15px;
    font-weight: 700;
    font-family: work sans;
    padding: 15px;
    border-radius: 10px;
    border: none;
}

.bannerImg{
     width: 80%;
    align-items: center;
    margin-left: 120px;
}

/* main Section---------------------------- */
#mainFlexSection{
    display: flex;
    align-items: center;
    text-align: center;
}
.mainGrid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
   
}


.mainSubtitle{
    opacity: 70%;
    font-weight: 500;
    font-family: work sans;
    padding: 12px;
}

/* Feature section enjoy---------------------------- */

#flex-contant{
    display: flex;
    gap: 20px;
}


.Featuretitle{
    font-size: 40px;
    color: #131313;
      font-weight: bold;
    font-family: work sans;
    padding: 30px;
}
.DeviceTitle{

       font-weight: 700;
    font-family: work sans;
    padding: 25px;
}

.featurePG{
    font-size: 15px;
      font-family: work sans;
      font-weight: 600;
      margin-left: 20px;
}

.image-container{
      position: relative;
}
.image-container, img
{
    height:100%;
}

.pngImg{
  margin: 20px;
}
.bottom-left-button{
      position: absolute;
  bottom: 5px; 
 
  padding: 10px 12px;
  background-color: #FF900E;
  color:#FFFFFF ;
     font-family: work sans;
  border: none;
  border-radius: 4px;
}

.btncolor{
   font-size: 35px;
    font-weight: 700;
 
}

.bgColorSection{
    background-color: #faf8f8;

    border-radius: 10px;
}

/* Icon Section------------------------- */

.FlexIcon{
    display: flex;
    gap: 20px;
    justify-content: space-around;   
     text-align: center;


    
}

.Factstitle{
     color: #131313;
      font-weight: bold;
    font-family: work sans;
    padding: 45px;
}
.FactsPG{
     font-size: 15px;
      font-family: work sans;
      font-weight: 600;
        margin-left: 50px;
        margin-top: -30px;
}

.imgWidth{
    width: 30%;
    height: 20%;
}
.IconSection{
border: 1px solid #FF900E;
padding: 10px;

}

/* Footer section --------------------------- */

.OurDiv{
    text-align: center;
}

.footerImg{
    display: flex;
    justify-content: space-around;
   
}

.inputFooter{
    width: 700px;
    height: 60px;
    text-align: center;
    margin-left: 350px;
    border-radius: 10px;
    border: none;
    background-color: #fff5eb;
    font-size: 18px;
          font-family: work sans;
}


@media screen and (max-width:576px){
    .navbar{
    display: flex;
    justify-content: space-between;
    margin: 10px;

  }
  .navbarTitle{
    color: #131313;
    font-family: work sans;
    font-weight:bold;
    font-size: 25px;
  }

  .navbarList{
    display: flex;
   gap: 20px;
  }

  nav, div, li, a{
    color: #424242;
    font-size: 15px;
    font-weight: 600;
    font-family: work sans;
    text-decoration: none;
    list-style: none;
    margin-top: 20px;
  }
    .BannerTitle{
        color: #131313;
    font-family: work sans;
    font-weight:bold;
    font-size: 40px;
  }


.bannerImg{
     width: 80%;
    align-items: center;
    margin-left: 50px;
}


#mainFlexSection{
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: center;
    align-items: center;
    gap: 10px;
    text-align: center;
}
.mainGrid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
     margin: 10%;

}
.mainGrid, img{
  width:220px;
}
.colorTitle{
  font-family: work sans;
    font-weight:bold;
    font-size: 40px;
}
.LisrColor{
    color: #727272;
     
}
.FeatureColor{
    color: #FF900E;
}

.mainSubtitle{
    opacity: 70%;
    font-weight: 500;
    font-family: work sans;
    padding: 12px;
}



#flex-contant{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.Featuretitle{
    color: #131313;
      font-weight: bold;
      font-size: 40px;
    font-family: work sans;
    padding: 40px;
}
.DeviceTitle{
       font-weight: 700;
    font-family: work sans;
    font-size: 20px;
    padding: 25px;
}
.pngImg
{
width: 420px;
margin: 50px;
}

.Factstitle{
     color: #131313;
      font-weight: bold;
      font-size: 40px;
    font-family: work sans;
    padding: 45px;
}
.FactsPG{
     font-size: 15px;
      font-family: work sans;
      font-weight: 600;
        margin-left: 50px;
        margin-top: -30px;
}
.FlexIcon{
    display: flex;
    gap: 20px;
    justify-content: space-around;   
     text-align: center;
     margin: 20px;
    
}

.FactsPG{
     font-size: 14px;
      font-family: work sans;
      font-weight: 600;
        margin-left: 50px;
        margin-top: -30px;
}


.footerImg{
    display: flex;
    justify-content: space-around;
   flex-wrap: wrap;
   height: 40px;

}


.inputFooter{
   
margin-left: -60px;
 margin-top: 120px;

    border-radius: 10px;
    border: none;
    background-color: #fff5eb;
    font-size: 12px;
          font-family: work sans;
}
}